body{
    background-color: #141616;
}

.page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EBEFF3;
    border: 2px solid #FF5500;
    border-radius: 5px;
    min-height: 500px;
    width: 100%;
    padding: 10px;
    margin: 5px;
    max-width: 800px;
    position: relative;
}

.title{
    font-size: 30px;
    letter-spacing: 15px;
    color: #FF5500;
    text-align: center;
    margin: 100px;
}

.input{
    width: 200px;
    border-bottom: 1px solid #FF5500;
    margin: 20px;
}

.input:focus{
    width: 300px;
    border-bottom: 1px solid #FF5500;
}

.input:hover{
    width: 300px;
    border-bottom: 1px solid #FF5500;
}

.button{
    width: 50px;
}

.version{
    position: absolute;
    bottom: 10px;
    color: gray;
    font-size: 14px;
}

.header{
    font-size: 20px;
    margin: 10px;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.col{
    display: flex;
    flex-direction: column;
}

.col-aligned{
    align-items: center;
}

.team-name{
    font-size: 18px;
    font-weight: bold;
}

.level-icon{
    width: 30px;
}

.maps{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;    
}

.map{
    margin: 10px;
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px;
    width: 200px;
}

.mapImage{
    margin: 0px 30px;
    width: 100px;
    border-radius: 8px;
}

.key{
    font-weight: bold;
    margin-right: 10px;
    width: 70px;
    text-align: right;
}

.btnBack{
    position: absolute;
    left: 20px;
    top: 20px;
}

.text{
    margin: 5px;
}

.banned{
    opacity: 0.5;
}

.picked{
    border: 1px solid #FF5500
}

.winner{
    color: green;
}

.loser{
    color: red;
}

.player-container{
    border: 1px solid gray;
    border-radius: 5px;
    margin: 2px;
    padding: 2px;
    width: 99%;
}

.player-name{
    font-weight: 500;
}

.nickname-container{
    width: 100%;
    padding: 0px 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.level{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.elo{
    font-size: 10px;
    margin: 5px;
}

.stats{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.stat-container{
    display: flex;
    flex-direction: column;
    width: 50px;
    margin: 2px;
}

.stat-name{
    line-height: 15px;
    margin-top: 5px;
}

.stat-value{
    line-height: 15px;
}

@media screen and (max-width: 1000px){
    .nickNameContainer{
        padding: 0px;
    }
    .level-icon{
        width: 25px;
    }
}